* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    text-align: center;
    background-image: url('background1.jpeg');
    font-family: 'Dancing Script', cursive;
}
.container {
}
.headerContainer {
    display: flex;
    background-color: white;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content: center;
}
h1 {
}
.search {
    margin: auto;
}
#searchBox {
    margin: 5px;
}
#searchButton {
    margin: 5px;
}
.bodyContainer {
    height: 42em;
    margin-top: 45px;
}
.inputContainer {
    display: flex;
    justify-content: center;
}
form {
    
}
#subjectBox {
    margin: 10px;
}
#postText {
    margin: 10px;
}
#post {
    margin: 10px;
}
#results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
}
.header {
    margin: 10px;
}
#searchResults {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
}
#footer {
    margin-bottom: 0em;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}