* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-image: url('background1.jpeg');
    font-size: large;
}
/* rules for mobile users. use a media.query to see which one to use. */
.container {
    display: flex;
    flex-direction: column;
}
/* rules for all other users */
@media all and (min-width: 768px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    header,
    main,
    footer {
        width: 100%;
    }
    h1 {
        font-size:xxx-large
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        order: 2;
        min-height: 80vh;
    }
    form {
        height: fit-content;
    }
    #searchResults {
        width:60%
    }
    .header {
        text-align: start;
        padding: 1.2rem;
    }
    footer {
        order: 3;
    }
}